@keyframes pulse {
	from {
		transform: scalex(1) scaley(1);
		opacity: 0.5;
	}
	to {
		transform: scalex(1.4) scaley(2);
		opacity: 0;
	}
}
// --------------------------------------------

@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
// --------------------------------------------

@keyframes nav-mobile-even {
	from {
		transform: translateX(-800px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

// --------------------------------------------

@keyframes nav-mobile-odd {
	from {
		transform: translateX(800px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

// --------------------------------------------

@keyframes nav-mobile-off {
	from {
		transform: translateY(0);
		transform-origin: top;
		opacity: 1;
	}
	to {
		transform: translateY(-250px);
		transform-origin: top;
		opacity: 0;
	}
}

// --------------------------------------------

@keyframes display-down {
	from {
		transform: translatey(100px);
		filter: blur(5px);
		opacity: 0;
	}
	to {
		transform: translatey(0);
		filter: blur(0);
		opacity: 1;
	}
}

// --------------------------------------------

@keyframes display-up {
	from {
		transform: translatey(0);
		filter: blur(0);
		opacity: 1;
	}
	to {
		transform: translatey(-100px);
		filter: blur(5px);
		opacity: 0;
}}

// --------------------------------------------

// @keyframes card-up {
// 	0% {
// 		transform: translateY(0%);
// 		opacity: 1;
// 	}
// 	50% {
// 		transform: translateY(-60%);
// 	}
// 	80% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 0;
// 	}
// }

// --------------------------------------------

// @keyframes card-down {
// 	0% {
// 		transform: translateY(0);
// 		z-index: -1;
// 	}
// 	50% {
// 		transform: translateY(60%);
// 		z-index: -1;
// 	}
// 	100% {
// 		z-index: 1;
// 	}
// }

// --------------------------------------------